<p>login works!</p>
<div style="text-align: center;">

<form action="">
UserName
    <input type="text" #username>
    <br>
Password
    <input type="password" #password>
    <br>
    
    <input type="submit" value="Submit" (click)="user(username.value,password.value)">
    <input type="reset" value="Reset" >
    <!-- <button type="button" class="btn btn-primary-outline" (click)="btnClick();"> Add</button> --> -->

     <!-- btnClick= function () {
        this.router.navigateByUrl('/user');
};
     -->
</form>
</div>  


    <!-- {{myusername}} <br>

USER NAME : <input type="text" [(ngModel)]="myusername"> <br><br>
</div> -->
<!--interpoliation binding-->
<!-- {{company}}
proberty binding-->
<!-- <img [src]="myimage" alt="No Image">  -->
