<p>home works!</p>
<!-- Banner section start
<div class="container ">
    <div class="row">
        <div class="col-6 mx-auto">
           <h1>Antivirus
               Mask Store</h1>
               <h5>The easiest way to protect yourself</h5>
               <div style="display:flex ;">
                   <div>
                       <h6> Anti-Bacterial</h6>
                   </div>
                   <div>
                       <h6>Anti-Virus </h6>
                   </div>
               </div>
               
        </div>
        <div class="col-6">
           <img src="../assets/image/product1.jpg" alt="image">
       </div>
    </div>
</div>  -->

